<a href="https://colab.research.google.com/github/Chandan801/Dr.Proton/blob/master/Label%20and%20ordinal%20encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import sklearn 
from google.colab import files 
df=files.upload()

Saving tips.csv to tips.csv

In [1]:
import io
df_tips=pd.read_csv(io.StringIO(df['tips.csv'].decode('utf-8')))
#df_test=pd.read_csv(io.StringIO(df['test.csv'].decode('utf-8')))
#df_sample_submission=pd.read_csv(io.StringIO(df['sample_submission.csv'].decode('utf-8')))

NameError: ignored

# One hot encoder using pandas

In [27]:
dummy_df=pd.get_dummies(df_tips)
dummy_df

     total_bill   tip  size  ...  day_Thur  time_Dinner  time_Lunch
0         16.99  1.01     2  ...         0            1           0
1         10.34  1.66     3  ...         0            1           0
2         21.01  3.50     3  ...         0            1           0
3         23.68  3.31     2  ...         0            1           0
4         24.59  3.61     4  ...         0            1           0
..          ...   ...   ...  ...       ...          ...         ...
239       29.03  5.92     3  ...         0            1           0
240       27.18  2.00     2  ...         0            1           0
241       22.67  2.00     2  ...         0            1           0
242       17.82  1.75     2  ...         0            1           0
243       18.78  3.00     2  ...         1            1           0

[244 rows x 13 columns]

In [4]:
pd.get_dummies(df_tips,drop_first=True)

     total_bill   tip  size  sex_Male  ...  day_Sat  day_Sun  day_Thur  time_Lunch
0         16.99  1.01     2         0  ...        0        1         0           0
1         10.34  1.66     3         1  ...        0        1         0           0
2         21.01  3.50     3         1  ...        0        1         0           0
3         23.68  3.31     2         1  ...        0        1         0           0
4         24.59  3.61     4         0  ...        0        1         0           0
..          ...   ...   ...       ...  ...      ...      ...       ...         ...
239       29.03  5.92     3         1  ...        1        0         0           0
240       27.18  2.00     2         0  ...        1        0         0           0
241       22.67  2.00     2         1  ...        1        0         0           0
242       17.82  1.75     2         1  ...        1        0         0           0
243       18.78  3.00     2         0  ...        0        0         1           0

[244 rows x 9 columns]

# One hot encoder using scikit learn

In [21]:
from sklearn.preprocessing import OneHotEncoder
oh_encoder=OneHotEncoder(sparse=False)

In [17]:
dummy_df.keys()

Index(['total_bill', 'tip', 'size', 'sex_Female', 'sex_Male', 'smoker_No',
       'smoker_Yes', 'day_Fri', 'day_Sat', 'day_Sun', 'day_Thur',
       'time_Dinner', 'time_Lunch'],
      dtype='object')

In [22]:
df_tips.keys()

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [24]:
oh_encoder_arr=oh_encoder.fit_transform(df_tips[['sex', 'smoker', 'day', 'time']])

In [25]:
oh_enc_df=pd.DataFrame(oh_encoder_arr,columns=['sex_Female', 'sex_Male', 'smoker_No',
       'smoker_Yes', 'day_Fri', 'day_Sat', 'day_Sun', 'day_Thur',
       'time_Dinner', 'time_Lunch'])
oh_enc_df

     sex_Female  sex_Male  smoker_No  ...  day_Thur  time_Dinner  time_Lunch
0           1.0       0.0        1.0  ...       0.0          1.0         0.0
1           0.0       1.0        1.0  ...       0.0          1.0         0.0
2           0.0       1.0        1.0  ...       0.0          1.0         0.0
3           0.0       1.0        1.0  ...       0.0          1.0         0.0
4           1.0       0.0        1.0  ...       0.0          1.0         0.0
..          ...       ...        ...  ...       ...          ...         ...
239         0.0       1.0        1.0  ...       0.0          1.0         0.0
240         1.0       0.0        0.0  ...       0.0          1.0         0.0
241         0.0       1.0        0.0  ...       0.0          1.0         0.0
242         0.0       1.0        1.0  ...       0.0          1.0         0.0
243         1.0       0.0        1.0  ...       1.0          1.0         0.0

[244 rows x 10 columns]

## Label Encoding

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import sklearn
from sklearn.preprocessing import LabelEncoder

In [2]:
from google.colab import files 
df=files.upload()

Saving train.csv to train.csv

In [3]:
import io
df_train=pd.read_csv(io.StringIO(df['train.csv'].decode('utf-8')))

In [4]:
df_train.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [7]:
df2=df_train[["KitchenQual","BldgType"]]

In [8]:
lE=LabelEncoder()

In [10]:
lE.fit_transform(df2["BldgType"])

array([0, 0, 0, ..., 0, 0, 0])

In [14]:
pd.set_option("display.max_rows",None)

In [16]:
df2["BldgType_L_enc"]=lE.fit_transform(df2["BldgType"])
df2.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  KitchenQual BldgType  BldgType_L_enc
0          Gd     1Fam               0
1          TA     1Fam               0
2          Gd     1Fam               0
3          Gd     1Fam               0
4          Gd     1Fam               0

In [17]:
df2["BldgType"].value_counts()

1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64

## Ordinal Encoding

In [20]:
df_train["KitchenQual"].value_counts()

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64

In [21]:
order_label={"Ex":4,"Gd":3,"TA":2,"Fa":1}

In [25]:
df2["KitchenQual_ord_enc"]=df2["KitchenQual"].map(order_label)
df2.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  KitchenQual BldgType  BldgType_L_enc  KitchenQual_ord_enc
0          Gd     1Fam               0                    3
1          TA     1Fam               0                    2
2          Gd     1Fam               0                    3
3          Gd     1Fam               0                    3
4          Gd     1Fam               0                    3